.nav {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid #151d2a;
}

.nav__options {
  width: 100%;
  height: auto;
}

.nav__options ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;

  margin: 0;
}

.nav__options ul li {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav__options ul li a {
  color: #94a3b8;
  transition: all 0.3s ease;
}

.nav__options ul li:hover {
  background: #233348;
  cursor: pointer;
}

.nav__options ul li:hover a {
  color: white;
}

i {
  color: white;
}

.nav__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.agregar__btn {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #136dec;
  box-shadow: 0px 0px 10px 1px #136dec;
  color: #ffffff;
  cursor: pointer;
}

.agregar__btn i {
  font-size: 10px;
}

.nav__user {
  width: 100%;
  display: flex;
  gap: 10px;
  color: rgb(255, 255, 255);
  border-top: 1px solid #151d2a;
  padding-top: 10px;
  justify-content: space-between;
}

.nav__user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav__user i {
  color: #94a3b8;
}
