* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

body {
  background: #0a0f16;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background: none;
}
